* {
    border: none;
    border-radius: 13px;
    font-family: "Dejavu", mono;
    font-size: 15px;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

.modules-left {
    background: #343434;
    border-radius: 13px;
    padding: 1px 0px 1px 0px;
    margin: 5px 4px 0px 4px;
}

.modules-center {
    background: #343434;
    border-radius: 13px;
    margin: 5px 4px 0px 4px;
    padding: 0px 5px;
}

.modules-right {
    background: #343434;
    border-radius: 13px;
    padding: 5px;
    margin: 5px 4px 0px 4px;
    padding: 0px 5px;
}

#workspaces button {
    padding: 0px 5px;
    background: transparent;
    color: #a89985;
    border-radius: 13px;
    transition: all 0.1s ease-in-out;
}

#workspaces button.active {
    background: #504946;
    color: #ffffff;
    min-width: 34px;
    transition: all 0.1s ease-in-out;
}

#workspaces button:hover {
    color: #ffffff;
}

#workspaces button:nth-child(n+6) {
    opacity: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

#custom-appmenuicon {
    font-size: 20px;
    color: #ffffff;
    padding: 3px 15px 3px 10px;
}

#custom-media {
    color: #a89985;
    background: #343434;
    border-radius: 13px;
    padding: 0px;
    margin: 0px 5px 0px 5px;
}

#network {
    padding: 0px 10px 0px 5px;
}

#pulseaudio {
    padding: 0px 5px;
}

#tray {
    padding: 0px 5px;
}

#clock {
    padding: 0px 5px;
}
