* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background: url("/home/migalha/Pictures/wallpapers/overgrown_blurred.png");
    background-size: 104%;
    background-position: center center;
    font-size: 16pt;
    color: #cdd6f4;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    background-color: rgba(200, 220, 255, 0);
    animation: gradient_f 20s ease-in infinite;
    border-radius: 80px; /* Increased border radius for a more rounded look */
    border: 0px;
    transition: all 0.4s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #cdd6f4;
}

button:hover, button:focus {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.8;
    color: #cdd6f4;
    background-size: 18%;
    margin: 30px;
    border-radius: 80px;
    box-shadow: 0 0 50px white;
    outline: none;
}

button span {
    font-size: 1.2em;
}

/* -----------------------------------------------------
 * Buttons
 * ----------------------------------------------------- */

#lock {
    margin: 10px;
    border-radius: 20px;
    background-image: url("icons/lock.png");
}

#logout {
    margin: 10px;
    border-radius: 20px;
    background-image: url("icons/logout.png");
}

#shutdown {
    margin: 10px;
    border-radius: 20px;
    background-image: url("icons/shutdown.png");
}

#reboot {
    margin: 10px;
    border-radius: 20px;
    background-image: url("icons/reboot.png");
}
